{% load static %}
{% load django_bootstrap5 %}





<div class="accordion-body" style="padding: 0;">
    <p class="text-info mt-3">{{ user.get_username|capfirst }}</p>
    <form method="post" action="{% url 'adicionar-comentario' %}">
        {% csrf_token %}
        <textarea name="conteudo" class="form-control w-100 mb-2"></textarea>
        <input type="hidden" name="noticia_id" value="{{ noticia.id }}">
        <button class="btn btn-outline-info mb-5 mt-2" type="submit">Comentar</button>
    </form>
    {% for coment in comentarios %}
    <p class="p-3 rounded w-100" style="background-color: #343638;">{{coment.usuario.username|capfirst}}<br>
        {{coment.conteudo}}</p>
    {% endfor %}
</div>