{% load static %}
{% load django_bootstrap5 %}


<div class="d-flex justify-content-end p-3 text-info">
    Compartilhar
    <a href="https://www.whatsapp.com/?lang=pt_BR" target="_blank" >
      <img src="{% static 'icones/whatsapp.png' %}" alt="logo" width="50" class="px-3" style="color: aqua;">
    </a>
    <a href="https://www.instagram.com/" target="_blank" >
      <img src="{% static 'icones/instagram.png' %}" alt="logo" width="50" class="px-3" style="color: aqua;">
    </a>
    <a href="https://web.facebook.com/?locale=pt_BR&_rdc=1&_rdr" target="_blank" >
      <img src="{% static 'icones/facebook.png' %}" alt="logo" width="50" class="px-3" style="color: aqua;">
    </a>
  </div>