{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}

<div class="table-responsive mt-5">
    <table class="table table-dark table-hover opacity-75">
        <thead class="text-info justify-content-center">
          <tr >
            <th scope="col" class="text-info">Publicada</th>
            <th scope="col" class="text-info">Titulo</th>
            <th scope="col" class="text-info">Categotia</th>
            <th scope="col" class="text-info">Ações</th>
          </tr>
        </thead>
        <tbody>
            {% for noticia in editor_noticias%}
            <td>
              <div class="form-check form-switch p-0 ">
                  {% if noticia.publicada %}
                  <a href="{% url 'publicar_noticia' noticia_id=noticia.id publicado=0 %}" >
                    <img src="/static/icones/checked.png" width="22" height="22"/>
                  </a>                  
                  {% else %}
                  <a href="{% url 'publicar_noticia' noticia_id=noticia.id publicado=1 %}" >
                    <img src="/static/icones/cancel.png" width="22" height="22"/>
                  </a>                  
                  {% endif %}
              </div>
            </td>    
            <td>{{noticia.titulo}}</td>    
            <td>{{noticia.categoria}}</td>    
            <td>
                <div class="d-flex justify-content-between">
                  <a href="{% url 'atualizar-noticia' noticia.id %}" >
                    <img src="/static/icones/edit.png" width="22" height="22"/>
                  </a>

                  <a href="{% url 'excluir-noticia' noticia.id %}" >
                    <img src="/static/icones/excluir.png" width="22" height="22"/>
                  </a>
                </div>
            </td>    
          </tr>
          {% endfor %}
        </tbody>
    </table>
    </div>


{% endblock %}