{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% static 'js' as js_url %}

{% comment %}
{% static 'js/jquery.waypoints.min.js' as waypoints_url %}
{% static 'js/infinite.min.js' as infinite_url %}
{% endcomment %}

{% static 'media' as media_url %}
{% block content %}

<div class="position-fixed w-100" style="z-index: 10;">
    {% include "search.html" %}
</div>
<div style="height: 60px;"></div>
<div class="d-none d-md-block ">
    {% include "carrossel.html" %}
</div>

<div style="margin-top: 60px;" class="responsive-padding">
    <div class=" justify-content-center row mt-3">
        <div class="infinite-container mt-3 mb-3 ">
            {% include 'noticia_card.html' %}
            {% if page_obj.has_next %}
            <div id="div-next" class="m-5 p-5 d-none">
                <a class="infinite-more-link page-link text-info rounded m-1 "
                    href="?page={{ page_obj.next_page_number }}&{{ pesquisa.urlencode }}"> &raquo;</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',
        onBeforePageLoad: function () {
        },
        onAfterPageLoad: function () {
        },
    });
</script>
<script>
    $(window).on('load', function () {
        console.log('LOAD...')
    });
</script>
{% endblock %}