{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
{% static 'media' as media_url %}

<a href="javascript:history.back()" class="mb-3 mt-5 ms-3 text-decoration-none btn btn-outline-info">Voltar</a>

<div class=" p-5 ">

    <div class="d-flex  justify-content-center ">
        <div class="d-flex flex-column responsive" style="width: 540px;">
            <div class="ratio ratio-16x9 mb-3" style="object-fit: contain; ">
                <img src=" {{media_url}}/{{noticia.imagem}}" class="rounded w-100" alt="{{uma_noticia.titulo}}">
            </div>
            <div class="responsive">
                {% if noticia.publicada %}
                <p class="text-secondary">Publicada {{noticia.publicada_em}}</p>
                <p class="text-secondary">Útima atualização {{noticia.atualizacao_tempo}}</p>
                <p class="text-secondary"> por {{noticia.autor}}</p>
                {% else %}
                <p class="text-secondary">Ultima atualização {{noticia.atualizacao_tempo}} por {{noticia.autor}}</p>
                {% endif %}
                {% for categoria in noticia.categorias.all %}
                <p class="text-secondary">Em {{categoria.nome}}</p>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="d-flex text-center justify-content-center text-wrap" style="padding: 40px; ">
        <div class="responsive" style="max-width: 680px; text-align: justify;">
            <p class="text-info ">{{noticia.titulo}}</p>

            <p class="responsive">
                {{ noticia.conteudo|safe|linebreaks }}
            </p><br>



        </div>
    </div>

</div>

{% endblock %}