{% load django_bootstrap5 %}
{% load static %}
{% static 'media' as media_url %}

{% for uma_noticia in object_list %}
<a href="{% url 'noticia-detail' uma_noticia.slug %}" class="infinite-item text-decoration-none ">
    <div class="d-flex border-bottom" style="margin-bottom: 20px; flex-wrap: wrap; padding: 0;">
        <div class="ratio ratio-16x9" style="object-fit: contain; max-width: 340px;   margin-bottom: 10px;">
            <img src="{{media_url}}/{{uma_noticia.imagem}}" alt="{{uma_noticia.titulo}}" class="w-100 rounded">
        </div>
        <div class="col responsive">
            <p class="ms-4 text-light ">{{uma_noticia.titulo}}</p>
            <p class="ms-4   text-info ">{{uma_noticia.subtitulo}}</p>
            {% if uma_noticia.publicacao_tempo == 'agora' %}
            <p class="ms-4  text-info text-capitalize">{{uma_noticia.publicacao_tempo}}</p>
            {% else %}
            <p class="ms-4  text-info">Há {{uma_noticia.publicacao_tempo}}</p>
            {% endif %}
            <p class="ms-4 text-info "><small class="text-body-secondary">
                    {% for categoria in uma_noticia.categorias.all %}
                    {{categoria.nome}}<br />
                    {% endfor %}
                </small></p>
        </div>
    </div>
</a>
{% endfor %}