{% load django_bootstrap5 %}
{% load static %}
{% static 'media' as media_url %}

{% for uma_noticia in object_list %}
<a href="{% url 'noticia-detail' uma_noticia.slug %}" class="infinite-item text-decoration-none ">
    <div class="d-flex border-bottom" style="margin-bottom: 20px; flex-wrap: wrap; padding: 0;">
        <div class="ratio ratio-16x9"
            style="object-fit: contain; max-width: 340px;   margin-bottom: 10px; margin-right: 20px;">
            <img src="{{media_url}}/{{uma_noticia.imagem}}" alt="{{uma_noticia.titulo}}" class="w-100 rounded">
        </div>
        <div class="col responsive">
            <p class="text-light">{{uma_noticia.titulo}}</p>
            <p style="color: #b1caf0;">{{uma_noticia.subtitulo}}</p>
            {% if uma_noticia.publicacao_tempo == 'agora' %}
            <p class="text-secondary text-capitalize">{{uma_noticia.publicacao_tempo}}</p>
            {% else %}
            <p class="text-secondary">Há {{uma_noticia.publicacao_tempo}}</p>
            {% endif %}

            <p class="text-secondary">Em {% for cate in uma_noticia.categorias.all %}{{cate.nome}}
                {% if not forloop.last %} e {% endif %}{% endfor %}
            </p>

        </div>
    </div>
</a>
{% endfor %}