{% load django_bootstrap5 %}
{% load static %}
{% static 'img/esportes.jpg' as esportes_url %}
{% static 'img/clima.jpg' as clima_url %}
{% static 'img/saude.jpg' as saude_url %}
{% static 'img/educacao.jpg' as educacao_url %}
{% static 'img/entreterimento.jpg' as entreterimento_url %}
{% static 'img/meio-ambiente.jpg' as meio_ambiente_url %}
{% static 'img/politica.jpg' as politica_url %}
{% static 'img/mundo.jpg' as mundo_url %}

<div class=" shadow-lg w-100 justify-content-center d-flex " style=" height: 300px;">
  <div id="carouselExampleAutoplaying" class="carousel slide w-50 p-4" data-bs-ride="carousel">

    <div class="carousel-inner" style=" height: 250px; ">
      <div class="carousel-item active ratio ratio-21x9" style="object-fit: contain;">
        <img src="{{ esportes_url }}" class="d-block w-100 rounded" alt="...">
        <p class=" fs-3 text-center bg-sencondary p-2 rounded opacity-50">Notícias sobre Esportes</p>
      </div>

      <div class="carousel-item active ratio ratio-21x9" style="object-fit: contain;">
        <img src="{{ clima_url }}" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item active ratio ratio-21x9" style="object-fit: contain;">
        <img src="{{ saude_url }}" class="d-block w-100" alt="...">

      </div>

      <div class="carousel-item active ratio ratio-21x9" style="object-fit: contain;">
        <img src="{{ educacao_url }}" class="d-block w-100" alt="...">

      </div>

      <div class="carousel-item active ratio ratio-21x9" style="object-fit: contain;">
        <img src="{{ entreterimento_url }}" class="d-block w-100" alt="...">

      </div>

      <div class="carousel-item active ratio ratio-21x9" style="object-fit: contain;">
        <img src="{{ meio_ambiente_url }}" class="d-block w-100" alt="...">

      </div>

      <div class="carousel-item active ratio ratio-21x9" style="object-fit: contain;">
        <img src="{{ politica_url }}" class="d-block w-100" alt="...">

      </div>

      <div class="carousel-item active ratio ratio-21x9" style="object-fit: contain;">
        <img src="{{ mundo_url }}" class="d-block w-100" alt="...">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>