{% load django_bootstrap5 %}
{% load static %}

{% for uma_noticia in object_list %}

<div class="mb-3 border-0 row" style="max-width: 540px;">

    <div class="row g-0 ">
        <div class="ratio ratio-16x9" style="object-fit: contain;">
            <img src="/media/{{uma_noticia.imagem}}" alt="{{uma_noticia.titulo}}" class="w-100 rounded">
        </div>
        <div class=" w-100 text-justify ">
            <!-- <div class="card-body "> -->
            <p class="card-title fs-4 text-light ">{{uma_noticia.titulo}}</p>
            <p class="card-text fs-6 text-info ">{{uma_noticia.subtitulo}}</p>
            <p class="card-text text-info "><small class="text-body-secondary">Em
                    {{uma_noticia.categoria}}</small></p>
            <!-- </div> -->
        </div>
    </div>
    <a href="{% url 'noticia-detail' uma_noticia.id %}" class=" text-decoration-none border-bottom"></a>
</div>
{% endfor %}