{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}




{% if next %}
{% if user.is_authenticated %}
<p class="p-4 mt-11 text-red-700 border-0">Sua conta não tem acesso a esta página. Para prosseguir,
  faça login com uma conta que tenha acesso.</p>
{% else %}
<p class="p-4 mt-11 text-red-700 border-0">Por favor, faça login para ver esta página.</p>
{% endif %}
{% endif %}


<div class="d-flex col-auto  justify-content-center mt-5 p-3">

  <div class=" shadow-lg p-5 mb-5  rounded ">
    <p class="text-info fs-3">Troca de senha</p>
    {% if form.errors %}
    <p class="text-danger ">Senha do usuário não corresponde. Tente novamente.</p>
    {% endif %}
    <form method="post" action="{% url 'atualizar-senha' user.id %}">
      {% csrf_token %}
      {% bootstrap_form form %}

      <button type="submit" class="w-100 btn btn-outline-info mb-3">Salvar</button>

      <input type="hidden" name="next" value="{{ next }}">

    </form>
    <div class="d-flex col  justify-content-center">
      <a href="{% url 'home' %}" class="mb-3  w-100 text-decoration-none btn btn-outline-info">
        &laquo; Voltar </a>
    </div>
  </div>
</div>
{% endblock %}