{% load static %}
{% load django_bootstrap5 %}
{% static 'icones/procurar.png' as procurar_url %}
<div>
    <nav class="navbar navbar-expand-lg" style="background-color:#223140;">
        <div class="container-fluid  ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse px-2 " id="navbarSupportedContent">

                <form class="d-flex " role="search" method="POST">
                    {% csrf_token %}
                    <select class="form-select" style="margin-right: 5px;" name="categoria"
                        aria-label="Default select example">
                        {% if categoria == 0 %}
                        <option selected value="0">Todas</option>
                        {% else %}
                        <option value="0">Todas</option>
                        {% endif %}
                        {% for cate in categorias %}
                        {% if categoria == cate.id %}
                        <option selected value="{{cate.id}}">{{cate.nome}}</option>
                        {% else %}
                        <option value="{{cate.id}}">{{cate.nome}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <input class="form-control me-2 " type="search" name="titulo" placeholder="Pesquisar Título"
                        aria-label="Search" value="{{titulo}}">
                    <button class="btn btn-outline-info btn-sm" type="submit"><img src="{{ procurar_url}}" width="22"
                            height="22"></button>

                </form>
            </div>
        </div>
    </nav>
</div>