
@media (min-width: 300px) {
    .responsive {
  
      font-size: 12px;
    }
  }

  @media (min-width: 440px) {
    .responsive {
  
      font-size: 14px;
    }
  }


@media (min-width: 640px) {
    .responsive  {
    
        font-size: 15px;
    }
  }
  
  @media (min-width: 768px) {
    .responsive {
        font-size: 16px;
      
    }
  }

  @media (min-width: 1024px) {
    .responsive {
        font-size: 20px;
      
    }
  }
  
  @media (min-width: 1280px) {
    .responsive {
        font-size: 18px;
      
    }
  }
  
  @media (min-width: 1536px) {
    .responsive {
        font-size: 18px;
      
    }
  }